body{
    padding: 0;
    margin: 0;
} 
#header{
    display: flex;
    background-color: rgb(8, 20, 241);
    padding: 26px 52px;
    height: 60px;
}
.search{
    background-color: #3441f8;
    border-radius: 45px;
    display: flex;
    align-items: center;
    width: 800px;
}
.search>span{
    margin: 0 25px;
}
#search{
    flex-grow: 2;
    border: none;/* 去边框 */
    outline: none;/* 去轮廓 */
    margin-right: 20px;
}
.icon-fangdajing{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}    
.icon-luyin{
    margin-left: 40x;
    font-size: 25px;
    margin-top: 15px;
    color: #fff;
}
.icon-luyinjishouyinjidiantai{
    margin-left: 30px;
    font-size: 32px;
    margin-top: 15px;
    color: #fff;
}
.icon-tv{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 15px;
    color: #fff;
}
.mySwiper{
    height: 33px;
    font-size: 16px;
    color: #039;
    overflow: hidden;
}
.mySwiper div{
    height: 33px;
    color: #fff;
}
.swiper{
    margin-left: 0px;
    margin-top: 10px;
}